body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-transform: uppercase;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #38b6ff;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #38b6ff;
    color: white;
    bottom: 0;
    width: 100%;
}

h2 {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

h2 a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

h2 a:active {
    background-color: #003f7f;
    transform: scale(1);
}

/* Styling for the ventas page */
#ventas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.venta-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.venta-card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.status {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.paid {
    background-color: #4caf50;
    color: white;
}

.unpaid {
    background-color: #f44336;
    color: white;
}

.card-body {
    padding: 15px;
    font-size: 1rem;
}

.card-footer {
    padding: 15px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

.card-footer ul {
    list-style-type: none;
    padding: 0;
}

.card-footer ul li {
    margin-bottom: 5px;
}

.card-footer p {
    font-weight: bold;
    margin: 10px 0;
}

.card-footer h4 {
    margin: 10px 0;
}
